@charset "UTF-8";
@import 'vendor/normalize';

// Estilos para la agenda
@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
    background: #fafbfc;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    background-attachment: #0bcc3b;
    width: 50%;
    max-width: 800px;
    height: 600px;
}

h1 {
    text-align: center;
    color: rgb(12, 10, 10);
    line-height: 75px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}