@charset "UTF-8";
@import "vendor/normalize";

// Estilos para la agenda
@import "~react-agenda/build/styles.css";
@import "~react-datetime/css/react-datetime.css";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

body {
  background: #fafbfc;
  font-family: "Roboto", sans-serif;
}

.right_sidebar_area{
    padding-left: 20px;
}

.right_widget{
    margin-bottom: 45px;
}
.r_w_title{
    padding-bottom: 20px;
    h3{
        font-size: 22px;
        color: #1e1e27;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }    
}

.l_news_inner{
    
}

.l_news_item{
    // @include transition;
    .l_news_img{
        overflow: hidden;
        a{
            display: block;
        }
        img{
            // @include transition;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .l_news_content{
        border: 1px solid #ebebeb;
        border-top: 0px;
        padding: 30px 35px;
        h4{
            font-size: 18px;
            color: #232d37;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            // @include transition;
            &:hover{
                color: #2bc0a4;
            }
        }
        p{
            font-size: 14px;
            line-height: 26px;
            color: #51545f;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            padding: 15px 0px 10px 0px;
        }
    }
    &:hover{
        box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
    }
}

.r_news_widget{
    .news_inner{
        .news_item{
            border-bottom: 1px solid #eeeef0;
            padding-bottom: 14px;
            margin-bottom: 15px;
            h4{
                font-size: 16px;
                line-height: 26px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500; 
                color: #1e1e27;
                padding-bottom: 7px;
                
                &:hover{
                    color: #2bc0a4;
                }
            }
            h6{
                font-size: 14px;
                color: #b5aec4;
                font-family: 'Poppins', sans-serif;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}


.contenedor {
  background-attachment: #0bcc3b;
  width: 50%;
  max-width: 800px;
  height: 600px;
}

h1 {
  text-align: center;
  color: rgb(12, 10, 10);
  line-height: 75px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
  }
  
#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#cardstyle {
    width: 18rem;
   margin-left: 20px;
}

#boton{
    width: 50px;
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.nutritionist a {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    text-decoration: none;
    color: black;
  }
  .nutritionist a:hover {
    background: #eee;
  }
  .nutritionist a span {
    margin: 0 2px;
  }
  .nutritionist a span:first-child {
    font-weight: 900;
  }

  #cardstyle {
    width: 18rem;
   margin-left: 20px;
}

.img-bg{
    width: 100%;
    height: 75vh;
    background-image: url('https://image.ibb.co/b0NkVe/Back_Ground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#BtnHome{
    margin-top: 15%;
    margin-left: 45%;  
}


@media (min-width: 360px)
{
    .button-break{
        margin-top: 30%;
        margin-left: 60%; 
    }
    
}
