@charset "UTF-8";
@import "vendor/normalize";

// Estilos para la agenda
@import "~react-agenda/build/styles.css";
@import "~react-datetime/css/react-datetime.css";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

body {
  background: #fafbfc;
  font-family: "Roboto", sans-serif;
}

.contenedor {
  background-attachment: #0bcc3b;
  width: 50%;
  max-width: 800px;
  height: 600px;
}

h1 {
  text-align: center;
  color: rgb(12, 10, 10);
  line-height: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
}
#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#cardstyle {
    width: 18rem;
   margin-left: 20px;
}

#boton{
    width: 50px;
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.nutritionist a {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    text-decoration: none;
    color: black;
  }
  .nutritionist a:hover {
    background: #eee;
  }
  .nutritionist a span {
    margin: 0 2px;
  }
  .nutritionist a span:first-child {
    font-weight: 900;
  }

